@{
    ViewBag.Title = "Create de Album Json";
}

<h2>Carga de Archivo Json (Cambios,Faltantes,Coleccionadas)</h2>

@using (Html.BeginForm("Create", "Carga", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Seleccionar archivo:</span>
    <input type="file" name="postedFile" />
    <br />
    <input type="submit" value="Subir" />
        <span style="color:green">@ViewBag.Message</span><br />
}
<br />
<br />
@Html.ActionLink("Mostrar datos", "Index");                
<br />
<br />
<br />
<div>

</div>