@model  IEnumerable<int>

@{
    ViewBag.Title = "Faltantes";
}

<h2>Faltantes</h2><br />
<h3>Borrar de esta lista y se agrega auto a la de coleccionadas</h3>

<table class="table">
    <tr>
        <th>
            Numeros
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.ActionLink("Agregar al album", "Delete", new { id = item })                
            </td>
        </tr>
    }

</table>