@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Laboratorio 4 Album del Mundial</h1>    
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Cargar Json de Coleccion Faltantes y Cambios", "Create", "Carga")<br />
        @Html.ActionLink("Cargar Json de Album", "Create2", "Carga")
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
       
    </div>
</div>